---
export const prerender = false;

import Layout from '../../layouts/Layout.astro';

const user_id = Astro.params.user_id;
const item_id = Astro.params.item_id;
---

<Layout>
    <h1>User ID: {user_id}</h1>
    <h2>Item ID: {item_id}</h2>
</Layout>
    