---
export const prerender = false;

import { ItemRepository } from '../../../../../packages/micro-domain/src/db/repository/ItemRepository';
import type { Item } from '../../../../../packages/micro-domain/src/item';
import { Card } from '../../components/Card';
import Layout from '../../layouts/Layout.astro';

const user_name = Astro.params.user_name;
const item_id   = Astro.params.item_id;

// get database
const db = (Astro.locals as any).runtime.env.REI_CAST_XYZ_D1 as IDBDatabase;

const itemRepo = new ItemRepository(db);

let item: Item | null = null;

if (item_id) {
    const itemIdNum = Number(item_id);
    if (!isNaN(itemIdNum)) {
        item = await itemRepo.findById(itemIdNum);
    }
}
---

<Layout>
    <h1>User ID: {user_name}</h1>
    <h2>Item ID: {item_id}</h2>

    {item  && <Card content={item?.content} title={"@"+user_name} />}
    {!item && <p>Item not found.</p>}
</Layout>
    