.rii-ui-panel {
    /* rounded flex container */
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;

    background-color: var(--ui-bg-color);
    color: var(--ui-fg-color);
}