---
import type { Fragment } from 'astro/jsx-runtime'
import Content from '../components/Content'
import { MobileTopBar } from '../components/MobileTopBar'
import { ProfileTitle } from '../components/ProfileTitle'
import { SideBar } from '../components/SideBar'
import { DarkModeToggle } from '../components/ToggleDarkMode'
import '../styles/global.css'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>⚡Rei Evans_</title>
	</head>
	<body>
		<MobileTopBar title="⚡ Rei Evans_" />
		<SideBar>
			<ProfileTitle>⚡ Rei Evans_</ProfileTitle>
			
			<div class="mt-auto">
				<DarkModeToggle client:load />
			</div>
		</SideBar>
		<Content>
			<slot />
		</Content>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
