---
import Content from '../components/Content'
import { SideBar } from '../components/SideBar'
import { DarkModeToggle } from '../components/ToggleDarkMode'
import '../styles/global.css'
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>⚡Rei Evans_</title>
	</head>
	<body>
		<SideBar>
			⚡ Rei Evans_
			<DarkModeToggle client:load />
		</SideBar>
		<Content>
			<slot />
		</Content>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
